<!--Footer-->
<main class="main_footer">
    <footer>
        <div class="container_footer">
            <div class="content_footer">
                <div class="profil">
                    <div class="logo_area">
                        <h4 class="logo_name">Cook<span class="logo_name2">Book</span></h4>
                    </div>
                    <div class="desc_area">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, impedit animi alias aspernatur quidem voluptatibus.</p>
                    </div>
                    <div class="social_media">
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-github'></i></a>
                        <a href="#"><i class='bx bxl-facebook-square'></i></a>
                    </div>
                </div>
                <div class="service_area">
                    <ul class="service_header">
                        <li class="service_name">Services</li>
                        <li><a href="#">CookBook online</a></li>
                        <li><a href="#">New cooking ideas</a></li>
                        <li><a href="#">Food lovers community</a></li>
                    </ul>
                    <ul class="service_header">
                        <li class="service_name">Company</li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">+39 392 789 5123</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer_bottom">
                <div class="copy_right">
                    <i class='bx bxs-copyright'></i>
                    <span  id="span_footer">2022 CookBook</span>
                </div>
                <div class="tou">
                   <a href="#">Term of use</a> 
                   <a href="#">Privacy of Use</a> 
                   <a href="#">Cookie</a> 
                </div>
            </div>
        </div>
    </footer>
</main>