<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Icon CSS-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--Login style css-->
    <link rel="stylesheet" href="/assets/styleLogin.css">

    <title>Forget Password</title>
</head>
<body>
    
<div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Forget Password</span>

                <form action="" method="POST">
                    <div class="input-field">
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        <input type="hidden" name="user_id" value="<%= user_id %>">
                        <i class="uil uil-envelope icon"></i>
                    </div>



                    <div class="input-field button">
                        <!--<input type="button" value="Login Now">-->
                        <button type="submit" id="button"> Reset Password</button>
                    </div>
                </form>
            </div>

</body>
</html>