<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Icon CSS-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--Login style css-->
    <link rel="stylesheet" href="/assets/styleLogin.css">

    <title>Login</title>
</head>
<body>
    
<div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <%

                if(typeof message !== 'undefined'){
                  %>
                 <h4><%= message %></h4> 
                  <%
                }

                %>
                <form action="/login" method="POST">
                    <div class="input-field">
                        <input type="text" id="email" name="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" id="password" name="password"placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>

                        <a href="/forget" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <!--<input type="button" value="Login Now">-->
                        <button type="submit" id="button">Login Now</button>
                    </div>
                </form>

                <%

                if(typeof message !== 'undefined'){
                  %>
                  <p style="color:green;"><%= message %></p> 
                  <%
                }

                %>

                <div class="login-signup">
                    <span class="text">Not a member?</span>
                    <a href="#" class="text signup-link">Signup now</a>
                </div>
            </div>


            <!--Registration Form-->

            <div class="form signup">
                <span class="title">Registration</span>

                <form action="/register" method="POST">
                    <div class="input-field">
                        <input type="text" name="nickname" id="nickname" placeholder="Enter your nickname" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name="email" id="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" id="password" class="password" placeholder="Create a password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="cpassword" id="cpassword" class="password" placeholder="Confirm your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="sigCheck" class="text">Remember me</label>
                        </div>

                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <!--<input type="button" value="Login Now">-->
                        <button type="submit" id="button">Login Now</button>
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Already have an account?</span>
                    <a href="#" class="text login-link">Login now</a>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/login-signup.js"></script>
</body>
</html>