<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styleFormRecipe.css">
    <title>Submit Your Recipe - CookBook</title>
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our form to get started.</p>
        </div>
      </div>
      
      <div class="row justify-content-center">
      
        <div class="col-8">
      
          <form action="/public-recipe" method="POST" >
          
            <div class="row g-3">
      
              <div class="col-12">
                <label for="title" class="form-label">Recipe Name</label>
                <input type="text" name="title" id="title" class="form-control" required>
              </div>
              
              <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
              </div>
      
              <div class="col-12">
                <label for="ingredients" class="form-label">Ingredients</label><br>
                <small>Example: Ice</small>
                <div class="ingredientList">
                  <div class="ingredeintDiv mb-1">
                    <input type="text" name="ingredients" id="ingredients" class="form-control">
                  </div>
                </div>
              </div>
      
              <div class="col-12">
                <label for="recipe_image">Product Image</label>
                <input type="file" class="form-control" name="recipe_image">
              </div>
      
              <div class="col-12">
                <a href="#" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit Recipe</button>
              </div>
      
            </div>
          
          </form>
      
        </div>
      </div>
</body>
</html>